<!DOCTYPE html>
<html>
<head>
	<title>
		Querido's Books
	</title>
	<link rel="stylesheet" type="text/css" href="estilos/estilos.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<header>
	<div class="logo">
		<img src="imagens/logo.png">
	</div>
		<nav>
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="pesquisa.html">BOOKS</a></li>
				<li><a href="">FEEDBACK</a></li>
				<li><a href="login.html">LOGIN</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<div class="pesq_img">
			<br><br><br><br>
			<div class="box3">
				<br><br>
				<h6 style="text-align: center; font-size: 35px;">Pesquise o máximo que sabe sobre o livro</h6><br><br>
                <form name="login" action="" method="">
                    <br><br>
                    <div>
                      <input class="pesq_table" type="text" name="pesquisar" placeholder="Identificação do Livro" required=""> 
                      <button class="button">Pesquisar</button>
                      <button class="button2">Limpar</button>
                    </div>
                </form>
			</div>
		</div>
		<footer>
			<p style="color:white;  text-align: center; ">
				<br><br>
				Email: queridosbooks@gmail.com <br>
				Mobile: +351 *** *** ***
			</p>
		</footer>
	</section>
</body>

</html>